/* Navbar.css */
@import url('https://fonts.googleapis.com/css?family=Lato');

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #1A1E23;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

nav ul li a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

nav ul li a:hover {
  color: #95a5a6;
}

nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Mobile view */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  nav ul li {
    margin: 10px 0;
  }

  /* Optional: Add a toggle button for mobile view */
  .navbar-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ecf0f1;
  }

  .navbar-toggle:hover {
    color: #95a5a6;
  }

  .nav-links {
    display: flex;
  }

  .nav-links.hidden {
    display: none;
  }
}